h1{
    font-size: 60px;
    background-color: #851944;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
h2{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #F2FFFC;
}
p{
    text-align: justify;
}
p{
    font-family: 'Times New Roman', sans-serif;
}
